{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/Main.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>  ComilonApp  &#127828;</title>
  </head>
  <header>
  <!--NavBar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <div class="navbar-brand">
            <img src="{% static '/img/logoApp.png' %}" alt="logo" class="logo">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">HAZ UN PEDIDO</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">CATÁLOGO</a>
            </li>
            {% if perms.core.add_plato or perms.core.view_plato %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  HERRAMIENTAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'listar_platos' %}">Listar platos</a></li>
                  <li><a class="dropdown-item" href="{% url 'agregar_plato' %}">Agregar un plato</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">CERRAR SESIÓN</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">INICIA SESIÓN</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'registro' %}" class="nav-link">REGÍSTRATE</a>
                </li>
            </ul>
            {% endif %}
        </div>
        </div>
    </nav>
    </header>
    <body>

    

    {% block contenido %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages%}
            <script>
                Swal.fire({
                    'title': 'Felicitaciones',
                    'text': '{{m}}',
                    'icon': 'success'
                })
            </script>
        {% endfor %}
    {% endif %}
    {% block js %}
    {% endblock %}
    </body>
    <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static '/img/LogoCuadrado.png' %}" alt="Logo ComilonApp">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h3>SOBRE NOSOTROS</h3>
                <p>ComilonApp es una plataforma que integra a los mejores Restaurants de Santiago con los comenzales más hambrientos y exigentes. </p>
            </div>
            <div class="box">
                <h3> CONTACTANOS</h3>
                <p>¿Tienes un Restaurant? ¿Tu empresa necesita un buen servicio de comida? ¿Estas interesado en repartir? Entonces… ¡Contactanos! </p>
            </div>
            <div class="box">
                <h3>SIGUENOS</h3>
                <div class="red-social">
                    <a href="https://www.facebook.com " class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2021 <b>ComilonApp</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</html>